/* Color Swatches in RGBA */
/*Font Styles*/
.nav-bar, .nav-bar__list-container, .list-container__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Color Swatches in RGBA */
/*Font Styles*/
.nav-bar {
  z-index: 1020;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgb(63, 62, 61);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0%;
}
@media only screen and (min-width: 767px) {
  .nav-bar {
    justify-content: flex-end;
  }
}
.nav-bar__list-container {
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
@media only screen and (min-width: 767px) {
  .nav-bar__list-container {
    width: fit-content;
    padding: 0;
  }
}

.list-container__list-item {
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px 20px;
  list-style-type: none;
  color: rgb(216, 194, 192);
  font-size: 0.8em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
@media only screen and (min-width: 767px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
.list-container__list-item:hover {
  color: rgb(165, 117, 117);
  cursor: pointer;
}
.list-container__list-item:active {
  color: rgb(165, 117, 117);
  cursor: pointer;
}
