/* Color Swatches in RGBA */
/*Font Styles*/
main, .container, .project-card, .project-card__details, .expand,
.collapse, .expand__icon,
.collapse__icon, .expand__text,
.collapse__text, .contact, .contact__contact-links-container, .contact-links__item, .contact-links__text, .nav-bar, .nav-bar__list-container, .list-container__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container__heading {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.container__sub-heading, .expand__text,
.collapse__text {
  font-family: "DM Sans", sans-serif;
  color: rgb(63, 62, 61);
  font-size: 1.75em;
  letter-spacing: 0.05em;
  width: 90%;
  text-align: left;
}

.container__para {
  font-family: "DM Sans", sans-serif;
  color: rgb(63, 62, 61);
  font-size: 1.4em;
  width: 90%;
  text-align: left;
  padding: 20px;
}

.button--projects {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 2px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}
.button--projects:hover {
  cursor: pointer;
}

/* Color Swatches in RGBA */
/*Font Styles*/
.nav-bar {
  z-index: 1020;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgb(63, 62, 61);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0%;
}
@media only screen and (min-width: 767px) {
  .nav-bar {
    justify-content: flex-end;
  }
}
.nav-bar__list-container {
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
@media only screen and (min-width: 767px) {
  .nav-bar__list-container {
    width: fit-content;
    padding: 0;
  }
}

.list-container__list-item {
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px 20px;
  list-style-type: none;
  color: rgb(216, 194, 192);
  font-size: 0.8em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
@media only screen and (min-width: 767px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
.list-container__list-item:hover {
  color: rgb(165, 117, 117);
  cursor: pointer;
}
.list-container__list-item:active {
  color: rgb(165, 117, 117);
  cursor: pointer;
}

/* Color Swatches in RGBA */
/*Font Styles*/
.contact__contact-links-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px;
}
@media only screen and (min-width: 540px) {
  .contact__contact-links-container {
    flex-direction: row;
  }
}

.contact-links:hover {
  cursor: pointer;
}
.contact-links:hover p {
  color: rgb(165, 117, 117);
}
.contact-links:hover img {
  filter: invert(68%) sepia(5%) saturate(1259%) hue-rotate(315deg) brightness(83%) contrast(84%);
}
.contact-links__item {
  width: fit-content;
  margin: 15px 0px;
  font-size: 1em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 5px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1100px) {
  .contact-links__item {
    margin: 0px 40px;
  }
}
@media only screen and (min-width: 540px) {
  .contact-links__item--email {
    position: relative;
    left: 6%;
  }
}
@media only screen and (min-width: 540px) {
  .contact-links__item--linkedin {
    position: relative;
    left: 6%;
  }
}
.contact-links__icon {
  width: 50px;
  margin: 0px 10px;
  filter: invert(96%) sepia(11%) saturate(940%) hue-rotate(297deg) brightness(92%) contrast(82%);
}
.contact-links__text {
  margin: 0px 10px;
  font-size: 1.25em;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 850px) {
  .contact-links__text {
    font-size: 1.5em;
  }
}

/* Color Swatches in RGBA */
/*Font Styles*/
.modal-images {
  display: none;
  position: fixed;
  z-index: 1021;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-images__content {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: auto;
  width: 100%;
  height: 100%;
}
.modal-images__content__img {
  height: 80%;
  width: auto;
  margin: 30px;
}

.close {
  background-color: transparent;
  border: none;
  color: rgb(216, 215, 214);
  float: right;
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 1em;
  margin-right: 1em;
  z-index: 101;
}

.close:hover,
.close:focus {
  color: rgb(165, 117, 117);
  text-decoration: none;
  cursor: pointer;
}

/* #personal-projects__modal--project1 {
	@extend %modal-images;
} */
/* Color Swatches in RGBA */
/*Font Styles*/
* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  background-color: rgb(165, 117, 117);
  padding: 50px 0px;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  background-color: rgb(165, 117, 117);
  color: rgb(216, 215, 214);
}

.container__heading {
  font-family: "Sail", cursive;
  font-size: 5em;
  margin-top: 30px;
}
.container__heading--contact {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
}
.container__sub-heading {
  width: 100%;
  background-color: rgb(216, 194, 192);
  padding-left: 10%;
  font-size: 2em;
  margin-top: 20px;
}
.container__para {
  color: rgb(216, 215, 214);
  padding-bottom: 0px;
}
.container--contact {
  background-color: rgb(63, 62, 61);
  color: rgb(216, 194, 192);
  height: auto;
  padding: 20px 0px 40px;
}

.project-grid {
  display: grid;
  width: 90%;
  margin: 30px 0px 20px;
}
@media only screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .project-grid {
    grid-template-columns: 49% 49%;
    grid-gap: 20px 2%;
    margin: 40px 0px 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .project-grid {
    grid-template-columns: 49% 49%;
    grid-gap: 20px 2%;
    margin: 40px 0px;
  }
}

.project-card {
  flex-direction: row;
  background-color: rgb(216, 215, 214);
  color: rgb(63, 62, 61);
  border-radius: 5px;
  overflow: auto;
}
.project-card__img {
  width: 40%;
  align-self: center;
  margin: 2%;
}
@media only screen and (min-width: 1025px) {
  .project-card__img {
    width: 50%;
    margin: 4%;
  }
}
.project-card--hidden {
  display: none;
}
.project-card__details {
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2% 2% 2% 0%;
}
@media only screen and (min-width: 1025px) {
  .project-card__details {
    padding: 4% 4% 4% 0%;
  }
}
.project-card__details--name {
  width: fit-content;
  font-family: "DM Serif Display", serif;
  font-size: 1.3em;
}
@media only screen and (min-width: 767px) {
  .project-card__details--name {
    font-size: 1.75em;
  }
}
.project-card__details--description {
  color: rgb(63, 62, 61);
  font-size: 0.9em;
  text-align: justify;
  margin: 4% 0%;
}
@media only screen and (min-width: 767px) {
  .project-card__details--description {
    font-size: 1.1em;
  }
}
.project-card__details--list {
  margin-bottom: 2%;
  font-size: 0.9em;
}
@media only screen and (min-width: 767px) {
  .project-card__details--list {
    font-size: 1.1em;
  }
}
.project-card__details--button-container {
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.button--projects {
  width: fit-content;
  background-color: rgb(63, 62, 61);
  color: rgb(216, 194, 192);
  font-size: 14px;
}
.button--projects:hover {
  background-color: rgb(114, 112, 111);
}
@media only screen and (max-width: 480px) {
  .button--projects {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--projects {
    font-size: 12px;
  }
}

.expand,
.collapse {
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  height: 2.5em;
  margin-bottom: 40px;
  padding: 5px 0px;
  background-color: rgba(216, 215, 214, 0.8);
  color: rgb(63, 62, 61);
  border-left: 6px solid rgb(114, 112, 111);
  border-radius: 5px;
}
.expand__icon,
.collapse__icon {
  width: 5%;
  font-size: 2em;
  margin: 0% 1%;
}
.expand__text,
.collapse__text {
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.5em;
}
.expand:hover,
.collapse:hover {
  cursor: pointer;
  border-left: 6px solid rgb(63, 62, 61);
  font-weight: bold;
}

.collapse {
  display: none;
}
