/* Color Swatches in RGBA */
/*Font Styles*/
main, .container, .container--about, .header__title, .header__sub-title, .page-down, .icon-grid, .icon-grid figure, .project-card, .project-card__details, .article, .contact, .contact__contact-links-container, .contact-links__item, .contact-links__text, .nav-bar, .nav-bar__list-container, .list-container__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container__heading {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.container__sub-heading {
  font-family: "DM Sans", sans-serif;
  color: rgb(63, 62, 61);
  font-size: 1.75em;
  letter-spacing: 0.05em;
  width: 90%;
  text-align: left;
}

.container__para {
  font-family: "DM Sans", sans-serif;
  color: rgb(63, 62, 61);
  font-size: 1.4em;
  width: 90%;
  text-align: left;
  padding: 20px;
}

.icon-grid__icons {
  font-size: 4em;
  color: rgb(165, 117, 117);
}

.button--projects, .button--see-more {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 2px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}
.button--projects:hover, .button--see-more:hover {
  cursor: pointer;
}

/* Color Swatches in RGBA */
/*Font Styles*/
.nav-bar {
  z-index: 1020;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgb(63, 62, 61);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0%;
}
@media only screen and (min-width: 767px) {
  .nav-bar {
    justify-content: flex-end;
  }
}
.nav-bar__list-container {
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
@media only screen and (min-width: 767px) {
  .nav-bar__list-container {
    width: fit-content;
    padding: 0;
  }
}

.list-container__list-item {
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px 20px;
  list-style-type: none;
  color: rgb(216, 194, 192);
  font-size: 0.8em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
@media only screen and (min-width: 767px) {
  .list-container__list-item {
    font-size: 1em;
  }
}
.list-container__list-item:hover {
  color: rgb(165, 117, 117);
  cursor: pointer;
}
.list-container__list-item:active {
  color: rgb(165, 117, 117);
  cursor: pointer;
}

/* Color Swatches in RGBA */
/*Font Styles*/
.contact__contact-links-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px;
}
@media only screen and (min-width: 540px) {
  .contact__contact-links-container {
    flex-direction: row;
  }
}

.contact-links:hover {
  cursor: pointer;
}
.contact-links:hover p {
  color: rgb(165, 117, 117);
}
.contact-links:hover img {
  filter: invert(68%) sepia(5%) saturate(1259%) hue-rotate(315deg) brightness(83%) contrast(84%);
}
.contact-links__item {
  width: fit-content;
  margin: 15px 0px;
  font-size: 1em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 5px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .contact-links__item {
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1100px) {
  .contact-links__item {
    margin: 0px 40px;
  }
}
@media only screen and (min-width: 540px) {
  .contact-links__item--email {
    position: relative;
    left: 6%;
  }
}
@media only screen and (min-width: 540px) {
  .contact-links__item--linkedin {
    position: relative;
    left: 6%;
  }
}
.contact-links__icon {
  width: 50px;
  margin: 0px 10px;
  filter: invert(96%) sepia(11%) saturate(940%) hue-rotate(297deg) brightness(92%) contrast(82%);
}
.contact-links__text {
  margin: 0px 10px;
  font-size: 1.25em;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 850px) {
  .contact-links__text {
    font-size: 1.5em;
  }
}

/* Color Swatches in RGBA */
/*Font Styles*/
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  font-size: 1em;
}

.container {
  border-top: 10px solid rgb(63, 62, 61);
  padding: 50px 0px;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
}
.container__para--about-article {
  width: 100%;
  padding: 4px 0px;
  text-align: justify;
  text-indent: 5%;
  font-size: 1.15em;
}
@media only screen and (min-width: 767px) {
  .container__para--about-article {
    font-size: 1.25em;
  }
}
.container--skills {
  background-color: rgb(216, 215, 214);
  color: rgb(63, 62, 61);
}
.container--projects {
  background-color: rgb(165, 117, 117);
  color: rgb(216, 215, 214);
}
.container--about {
  background-color: rgb(216, 215, 214);
  color: rgb(63, 62, 61);
  height: auto;
  font-size: 1em;
}
.container--contact {
  background-color: rgb(63, 62, 61);
  color: rgb(216, 194, 192);
  height: auto;
  padding: 30px 0px 40px;
}

.header {
  color: rgb(63, 62, 61);
  background-color: rgb(216, 194, 192);
  width: 100%;
  justify-content: center;
  padding: 0px;
  height: 100vh;
}
.header__title {
  font-family: "Sail", cursive;
  font-size: 6em;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header__title {
    font-size: 7em;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .header__title {
    font-size: 8em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .header__title {
    font-size: 8em;
  }
}
@media only screen and (min-width: 1201px) {
  .header__title {
    font-size: 9em;
  }
}
.header__title--animated {
  background-image: linear-gradient(-225deg, rgb(63, 62, 61) 0%, rgb(63, 62, 61) 10%, rgb(114, 112, 111) 20%, rgb(165, 117, 117) 25%, rgb(191, 117, 111) 50%, rgb(165, 117, 117) 75%, rgb(114, 112, 111) 80%, rgb(63, 62, 61) 90%, rgb(63, 62, 61) 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}
.header__sub-title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.2em;
  margin-bottom: 80px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header__sub-title {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .header__sub-title {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .header__sub-title {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1201px) {
  .header__sub-title {
    font-size: 1.75em;
  }
}
.header__sub-title--leading {
  margin-bottom: 0px;
  margin-top: 100px;
}

.page-down {
  display: none;
  font-family: "DM Sans", sans-serif;
  font-size: 5em;
  color: rgb(114, 112, 111);
  line-height: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .page-down {
    display: flex;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) and (max-height: 555px) {
  .page-down {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .page-down {
    display: flex;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 767px) and (max-height: 475px) {
  .page-down {
    display: none;
  }
}
.page-down__icons {
  rotate: 90deg;
}
.page-down:hover {
  color: rgb(165, 117, 117);
  cursor: pointer;
}
.page-down--header {
  z-index: 1;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .page-down--header {
    display: flex;
    position: absolute;
    bottom: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) and (max-height: 555px) {
  .page-down--header {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .page-down--header {
    display: flex;
    position: absolute;
    bottom: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-height: 475px) {
  .page-down--header {
    display: none;
  }
}
.page-down--projects {
  color: rgb(216, 215, 214);
}
.page-down--projects:hover {
  color: rgb(216, 194, 192);
}

.icon-grid {
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-grid figure {
  width: 5em;
  flex-direction: column;
  margin: 10px;
}
@media only screen and (min-width: 767px) {
  .icon-grid figure {
    width: 8em;
  }
}
.icon-grid figure figcaption {
  color: rgb(63, 62, 61);
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 10px;
}
@media only screen and (min-width: 767px) {
  .icon-grid figure figcaption {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 767px) {
  .icon-grid__icons {
    font-size: 6em;
  }
}

.project-grid {
  display: grid;
  width: 90%;
  margin: 30px 0px 20px;
}
@media only screen and (max-width: 480px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .project-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .project-grid {
    grid-template-columns: 49% 49%;
    grid-gap: 20px 2%;
    margin: 40px 0px 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .project-grid {
    grid-template-columns: 49% 49%;
    grid-gap: 20px 2%;
    margin: 40px 0px;
  }
}

.project-card {
  flex-direction: row;
  background-color: rgb(216, 215, 214);
  color: rgb(63, 62, 61);
  border-radius: 5px;
  overflow: auto;
}
.project-card img {
  width: 40%;
  align-self: center;
  margin: 2%;
}
@media only screen and (min-width: 1025px) {
  .project-card img {
    width: 50%;
    margin: 4%;
  }
}
.project-card--hidden {
  display: none;
}
.project-card__details {
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2% 2% 2% 0%;
}
@media only screen and (min-width: 1025px) {
  .project-card__details {
    padding: 4% 4% 4% 0%;
  }
}
.project-card__details--name {
  width: fit-content;
  font-family: "DM Serif Display", serif;
  font-size: 1.3em;
}
@media only screen and (min-width: 767px) {
  .project-card__details--name {
    font-size: 1.75em;
  }
}
.project-card__details--description {
  color: rgb(63, 62, 61);
  font-size: 0.9em;
  text-align: justify;
  margin: 4% 0%;
}
@media only screen and (min-width: 767px) {
  .project-card__details--description {
    font-size: 1.1em;
  }
}
.project-card__details__button-container {
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.button--projects {
  width: fit-content;
  background-color: rgb(63, 62, 61);
  color: rgb(216, 194, 192);
  font-size: 14px;
}
.button--projects:hover {
  background-color: rgb(114, 112, 111);
}
@media only screen and (max-width: 480px) {
  .button--projects {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--projects {
    font-size: 12px;
  }
}
.button--see-more {
  width: 30%;
  background-color: rgb(216, 215, 214);
  color: rgb(63, 62, 61);
  font-size: 24px;
}
.button--see-more:hover {
  background-color: rgb(216, 194, 192);
}
@media only screen and (max-width: 480px) {
  .button--see-more {
    font-size: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--see-more {
    font-size: 20px;
  }
}

.article {
  width: 90%;
  flex-direction: column;
}
@media only screen and (min-width: 767px) {
  .article {
    flex-direction: row;
  }
}
.article__photo {
  width: 40%;
  margin: 2% 0% 5%;
  border: 5px solid rgb(63, 62, 61);
  border-radius: 50%;
  filter: invert(0%) sepia(80%) saturate(30%) hue-rotate(297deg) brightness(82%) contrast(100%);
}
@media only screen and (min-width: 767px) {
  .article__photo {
    width: 18%;
    margin: 0% 5% 0% 0%;
    align-self: flex-start;
  }
}
.article__para-container {
  padding: 0px;
  margin: 0px;
}
