@mixin container {
	justify-content: center;
}

@mixin list-container {
	width: 100%;
	justify-content: space-around;
	flex-flow: row wrap;
}

@mixin list-item {
	padding: 10px 10px;
	font-size: 16px;
}
