/* Color Swatches in RGBA */
$kilamanjaro: rgba(63, 62, 61, 1);
$sandstone: rgba(114, 112, 111, 1);
$porcelain: rgba(216, 215, 214, 1);
$thatch: rgba(165, 136, 134, 1);
$alto: rgba(216, 194, 192, 1);

/*Font Styles*/
$primary: "DM Sans", sans-serif;
$secondary: "DM Serif Display", serif;
$highlight: "Sail", cursive;
