@use "defaults.scss";
@use "screens.scss";
@use "nav-bar-tablet.scss";
@use "nav-bar-large-screen.scss";
@import "themes.scss";

.nav-bar {
	@extend %default-display;
	z-index: 1020;
	flex-direction: row;
	position: fixed;
	width: 100%;
	background-color: $kilamanjaro;
	font-family: $primary;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding: 0%;
	@media only screen and (min-width: 767px) {
		@include nav-bar-large-screen.container;
	}
	&__list-container {
		@extend %default-display;
		flex-flow: row wrap;
		width: 100%;
		justify-content: space-around;
		@media only screen and (min-width: 767px) {
			@include nav-bar-large-screen.list-container;
		}
	}
}
.list-container {
	&__list-item {
		@extend %default-display;
		width: fit-content;
		flex-wrap: wrap;
		padding: 10px 20px;
		list-style-type: none;
		color: $alto;
		font-size: 0.8em;
		@include screens.tablet {
			@include nav-bar-tablet.list-item;
		}
		@media only screen and (min-width: 767px) {
			@include nav-bar-large-screen.list-item;
		}
		&:hover {
			color: $thatch;
			cursor: pointer;
		}
		&:active {
			color: $thatch;
			cursor: pointer;
		}
	}
}
