@use "defaults.scss";
@use "screens.scss";
@use "nav-bar-mobile";
@import "themes.scss";

.nav-bar {
	@extend %default-display;
	z-index: 1020;
	flex-direction: row;
	position: fixed;
	width: 100%;
	font-family: $primary;
	font-weight: 500;
	letter-spacing: 0.1em;
	justify-content: flex-end;
	background-color: $kilamanjaro;
	padding: 0;
	@include screens.mobile {
		@include nav-bar-mobile.container;
	}
	&__list-container {
		@extend %default-display;
		flex-direction: row;
		width: 40%;
		justify-content: flex-end;
		padding: 0;
		color: $alto;
		@include screens.mobile {
			@include nav-bar-mobile.list-container;
		}
	}
}
.list-container {
	&__list-item {
		@extend %default-display;
		width: fit-content;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 10px 20px;
		@include screens.mobile {
			@include nav-bar-mobile.list-item;
		}
		&:hover {
			color: $thatch;
			cursor: pointer;
		}
		&:active {
			color: $thatch;
			cursor: pointer;
		}
	}
}
