@use "defaults.scss";
@use "nav-bar.scss";
@use "screens.scss";
@use "footer-contact.scss";
@use "modal-images.scss";
@import "themes.scss";

* {
	margin: 0;
	padding: 0;
}

a {
	all: unset;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main {
	@extend %default-display;
	background-color: $burnished-brown;
	padding: 50px 0px;
	width: 100%;
	max-width: 100%;
	justify-content: flex-start;
	background-color: $burnished-brown;
	color: $porcelain;
}

.container {
	@extend %default-display;
	&__heading {
		@extend %default-section-heading;
		font-family: $highlight;
		font-size: 5em;
		margin-top: 30px;
		&--contact {
			font-family: $secondary;
			font-size: 3em;
		}
	}
	&__sub-heading {
		@extend %default-section-subheading;
		width: 100%;
		background-color: $alto;
		padding-left: 10%;
		font-size: 2em;
		margin-top: 20px;
	}
	&__para {
		@extend %default-section-para;
		color: $porcelain;
		padding-bottom: 0px;
	}
	&--contact {
		background-color: $kilamanjaro;
		color: $alto;
		height: auto;
		padding: 20px 0px 40px;
	}
}

.project-grid {
	display: grid;
	width: 90%;
	margin: 30px 0px 20px;
	@include screens.mobile {
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	@include screens.tablet {
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	@include screens.tablet-laptop {
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	@include screens.computer-large {
		grid-template-columns: 49% 49%;
		grid-gap: 20px 2%;
		margin: 40px 0px 20px;
	}
	@include screens.extra-large {
		grid-template-columns: 49% 49%;
		grid-gap: 20px 2%;
		margin: 40px 0px;
	}
}

.project-card {
	@extend %default-display;
	flex-direction: row;
	background-color: $porcelain;
	color: $kilamanjaro;
	border-radius: 5px;
	overflow: auto;
	&__img {
		width: 40%;
		align-self: center;
		margin: 2%;
		@media only screen and (min-width: 1025px) {
			width: 50%;
			margin: 4%;
		}
	}
	&--hidden {
		display: none;
	}
	&__details {
		@extend %default-display;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 2% 2% 2% 0%;
		@media only screen and (min-width: 1025px) {
			padding: 4% 4% 4% 0%;
		}
		&--name {
			width: fit-content;
			font-family: $secondary;
			font-size: 1.3em;
			@media only screen and (min-width: 767px) {
				font-size: 1.75em;
			}
		}
		&--description {
			color: $kilamanjaro;
			font-size: 0.9em;
			text-align: justify;
			margin: 4% 0%;
			@media only screen and (min-width: 767px) {
				font-size: 1.1em;
			}
		}
		&--button-container {
			width: 90%;
			padding: 0px;
			margin: 0px;
		}
	}
}

.button {
	&--projects {
		@extend %default-button-style;
		width: fit-content;
		background-color: $kilamanjaro;
		color: $alto;
		font-size: 14px;
		&:hover {
			background-color: $sandstone;
		}
		@include screens.mobile {
			font-size: 12px;
		}
		@include screens.tablet {
			font-size: 12px;
		}
	}
}

.expand,
.collapse {
	@extend %default-display;
	flex-direction: row;
	justify-content: flex-start;
	width: 90%;
	height: 2.5em;
	margin-bottom: 40px;
	padding: 5px 0px;
	background-color: rgba(216, 215, 214, 0.8);
	color: $kilamanjaro;
	border-left: 6px solid $sandstone;
	border-radius: 5px;
	&__icon {
		@extend %default-display;
		width: 5%;
		font-size: 2em;
		margin: 0% 1%;
	}
	&__text {
		@extend %default-display;
		@extend %default-section-subheading;
		flex-direction: row;
		justify-content: flex-start;
		font-size: 1.5em;
	}
	&:hover {
		cursor: pointer;
		border-left: 6px solid $kilamanjaro;
		font-weight: bold;
	}
}

.collapse {
	display: none;
}
